
    *{
        text-align: center;
    }
    ul{
        list-style: none;
        margin: 0px;
    }
    li{
        display: inline-block;
    }
    .input{
       width: 140px;
       height: 140px;
       border: black 2px solid;
       cursor: pointer;
       background-size: 100%;
    }
    